beautifulsoup4==4.12.3
requests==2.32.3
soupsieve==2.5
networkx
torch
numpy
pandas
faiss-cpu
tqdm
google-genai
python-dotenv
neo4j
streamlit
pyvis
sentence-transformers
torchvision
judges
instructor
openai
openpyxl
matplotlib